@model IEnumerable<Data.Models.UserViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    @foreach (var user in Model)
    {
         var photoPath = "~/images/" + (user.PhotoPath ?? "unnamed.jpg"); 
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%">
            <div class="card-header">
                <h3>@user.Username</h3>
            </div>
            <img class="card-img-top imageTumbnail" src="@photoPath" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </div>
        </div>
    }
</div>
